<div class="sidebar-donation-container">
  <div class="sidebar-donations-title-wrapper">
    <h2 class="sidebar-donations-title">Support Ukraine</h2>
    <svg class="sidebar-emblem-of-ukraine" width="20" height="32">
      <use href="../img/icons.svg#emblem-of-ukraine"></use>
    </svg>
  </div>
  <ul class="sidebar-donation-list"></ul>
  <button class="sidebar-scroll-btn">
    <svg class="sidebar-arrow-btn" width="22" height="22">
      <use href="./img/icons.svg#scroll-support-ua"></use>
    </svg>
  </button>
</div>
