<header class="container">

    <nav class="header-menu">
        <div class="logo">
            <a href="" class="logo-svg">
                <svg width="" height="">
                    <use href="">
                    </use>
                </svg>
                <svg class="text-logo" width="" height="">
                    <use href="">
                    </use>
                </svg>
            </a>

            <ul class="header-list">
                <li class="header-item">
                    <a href="" class="header-link"></a>
                </li>
                <li class="header-item">
                    <a href="" class="shoping-list-link" >Shoping-list
                        <svg width="" height=""></svg>
                    </a>
                </li>
            </ul>

            <div class="theme-switcher">
                <span class="wrapper">
                    <label for="themeSwitch" id="switch" class="switch">
                        <input type="checkbox" id="themeSwitch" class="theme-switch-input">
                        <span class="round-btn"></span>
                    </label>
                </span>
                
            </div>
            <button class="signup-btn signup-js" type="button">
                Sign up
                <svg width="" height="">
                    <use href=""></use>
                </svg>
            </button>

            <div class="btn-user-info">
                <button class="user-btn">
                    <div class="user-photo">
                        <svg class="user-svg">
                            <use href="" ></use>
                        </svg>
                    </div>  
                    <div class="user-name">User</div>
                    <svg class="caret-down">
                        <use href=""></use>
                    </svg>
                </button>

                
            </div>

        </div>

    </nav>
</header>
