<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    
    <header class="container">
        <div class="header-container">
            <nav class="header-menu">
                <!-- -----LOGO----- -->
                <div class="logo">
                    <a class="logo-svg" href="./index.html" aria-label="link on main book page">

                        <svg width="24" height="24"><use href="./img/icons.svg#icon-logo"></use>
                        </svg>  
                        <svg class="text-logo" width="78" height="14"><use href="./img/icons.svg#icon-logo-text"></use>
                        </svg>   
                    </a>
                </div>
                <!-- -----Home & shoping list----- -->
                <ul id="header-list" class="header-list">
                    <li class="header-item ">
                        <a class="header-link hidden" href="./index.html">home</a>
                    </li>
                    <li class="header-item">
                        <a class="shopping-link hidden" href="./shopping-list.html"
                        >Shopping List
                        <span class="shoping-test">
                            <svg class="shoping-icon" width="20" height="20"><use href="./img/icons.svg#icon-shopping"></use>         
                            </svg>
                        </span>
                
                        </a>
                    </li>
                </ul>
                <!-- ----- switcher of theme----- -->
                <div class="switcher">
                    <input type="checkbox"  id="themeToggle" />
                    <label id="switch" for="themeToggle" class="switch">
                        <span class="slider"></span>
                        
                    </label>
                    
                </div>

            
                <!-- -----Authorization------ -->
                <button type="button" class="signup-btn">
                    Sign up
                    <svg class="sign-arrow" width="20" height="20">
                    <use href="./img/icons.svg#icon-shopping"></use>        
                    </svg>
                </button>

                
            </nav>

        </div>
    
    </header>

    <script type="module" src="./main.js"></script>
</body>
</html>