<div class="modal-container dark-theme">
  <button class="modal-button-close" type="button">
    <svg
      class="modal-icon-close dark-theme"
      width="24"
      height="24"
      viewBox="0 0 28 28"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M21 7L7 21M7 7L21 21"
        stroke-width="3"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
  <div class="modal-book-wrapper">
    <img
      class="modal-img"
      src="./img/flowers-gd7eff2f50_1280.jpg"
      alt="The`re will be alt"
      width="287"
      height="408"
    />
    <div class="modal-book-desc-wrapper">
      <h2 class="modal-book-title dark-theme">Here will be book-title</h2>
      <h3 class="modal-book-author">Here will be book-author</h3>
      <p class="modal-book-desc dark-theme">
        In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
        past resurfaces as he gets to the know the family of his college
        sweetheart.
      </p>
      <a
        class="modal-book-link"
        href="https://www.amazon.fr/books/s?k=books"
        target="_blank"
        ><img
          class="modal-book-link-img dark-theme"
          src="./img/amazon1.svg"
          alt="" />
        <img
          class="modal-book-link-img dark-theme-img"
          src="./img/amazon2.svg"
          alt=""
      /></a>
    </div>
  </div>
  <div class="button-toggle-wrapper">
    <button class="modal-button-toggle dark-theme-img" type="button">
      Here will be some text
    </button>
    <p class="modal-text dark-theme-text">
      Сongratulations! You have added the book to the shopping list. To delete,
      press the button “Remove from the shopping list”.
    </p>
  </div>
</div>
