<div class="test-button">
  <li class="card-book" data-id="643282b2e85766588626a0fc">
    <a
      class="book-link"
      href="https://storage.googleapis.com/du-prd/books/images/9780593652886.jpg"
      data-id="643282b2e85766588626a0fc"
    ></a>
    <img
      class="book-image"
      src="https://storage.googleapis.com/du-prd/books/images/9780593652886.jpg"
      alt="THE CREATIVE ACT"
      width="341"
      height="500"
      data-id="643282b2e85766588626a0fc"
    />
    <div class="book-content" data-id="643282b2e85766588626a0fc">
      <h3 class="book-title" data-id="643282b2e85766588626a0fc">
        THE CREATIVE ACT
      </h3>
      <p class="book-author" data-id="643282b2e85766588626a0fc">
        Rick Rubin with Neil Strauss
      </p>
    </div>
  </li>
</div>
<script type="module" src="../js//modal.js"></script>
