<div class="shopping-container">
  <h2 class="cart-title">Shopping <span class="cart-title-span">List</span></h2>
  <div class="cart-component">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cumque
    ratione unde delectus a libero, repellendus tenetur est quia ad in minima
    debitis architecto praesentium voluptas officiis quidem aspernatur numquam
    aperiam consequatur nesciunt laborum fuga. Vitae veniam aliquam distinctio
    dignissimos, natus neque quas consequatur ipsam omnis ullam nam officiis hic
    tenetur corporis ratione eaque laborum doloremque reiciendis cupiditate!
    Omnis, quaerat similique. Et recusandae modi reiciendis omnis doloribus at
    praesentium optio dolorem numquam reprehenderit! Debitis, autem sed quo
    soluta non aspernatur veniam atque dolorum vitae distinctio magnam
    necessitatibus ducimus fugit labore nam temporibus! Provident ullam harum
    incidunt, placeat beatae culpa distinctio, fugiat optio blanditiis ipsum aut
    minus reprehenderit mollitia voluptates facere hic! Odit nobis magnam magni
    quae sunt eaque ut deserunt perspiciatis deleniti eos vero facere molestias,
    dignissimos tempore non sed rem, veritatis eveniet officia, exercitationem
    quis. Pariatur assumenda explicabo minus? Tempore autem, accusamus
    molestiae, consequatur animi illum incidunt facilis deleniti veritatis
    delectus, consectetur similique nulla commodi odit rem qui laboriosam
    possimus. Doloremque, a commodi provident odit suscipit expedita rerum
    iusto, tempora quae voluptas beatae possimus nulla pariatur exercitationem
    nisi assumenda maiores. Necessitatibus tenetur ex quasi modi asperiores
    ipsum, numquam consectetur quis fugiat voluptatem, saepe quo, exercitationem
    tempora dolor cum eveniet laborum id ab distinctio. Fugit quam ad animi.
    Rerum ad at repudiandae optio, qui provident quia facilis porro voluptas
    enim doloremque eius aspernatur iste, dolorum, nam aperiam velit veritatis
    tempora odit! Ad iusto corrupti nobis officiis, dolor, possimus neque sequi
    minima, aliquam sunt delectus illo deserunt eius nisi quaerat provident
    tempore libero? Consectetur facilis qui accusamus recusandae, soluta
    similique veniam aut molestias repellat reprehenderit explicabo enim? Non,
    recusandae? Ab laborum ipsa nobis dolore consequuntur soluta atque fugiat
    sunt mollitia distinctio illum facilis, asperiores voluptatum? Dicta
    delectus quo eligendi, aspernatur sapiente fuga itaque ullam velit, quam
    sunt libero optio ex tempora exercitationem veniam in culpa consectetur rem.
    Nihil expedita sit, incidunt ut et aspernatur beatae obcaecati dolor a dicta
    omnis eius quidem! Dicta soluta fugiat corporis saepe repellat ducimus
    sapiente atque in, voluptatibus sequi quaerat odio reiciendis nemo impedit
    est voluptatum, accusantium voluptas? Qui ullam ea nam tempora maxime totam
    ducimus recusandae optio beatae quaerat ab maiores eius dignissimos animi et
    esse, accusantium incidunt, at iure nulla! Eos quam numquam perspiciatis
    autem pariatur distinctio, voluptatum, cupiditate inventore iure nemo
    dolorum hic, aperiam voluptas cum! Iure, earum. Aut numquam ipsum asperiores
    reiciendis officia aspernatur id repudiandae culpa eaque, fugit velit quam
    delectus odio a ullam deleniti labore repellat accusamus. Molestias tempora
    culpa quidem quia iusto, nisi esse nobis corporis ratione consequuntur quam
    sequi sed. Ducimus dolor voluptatum molestias assumenda consequuntur ipsum
    ratione nisi temporibus corrupti quis iste eos laboriosam fugiat tenetur
    magni, quibusdam nulla cumque ut omnis aspernatur numquam voluptas aliquid.
    Dicta atque tempora iusto quae neque rerum. Distinctio commodi deleniti
    laudantium iusto dolor explicabo ex provident quo vitae ducimus suscipit
    veniam necessitatibus facilis aliquam magni error ut magnam porro, unde
    eaque! Eveniet, quas quisquam enim dicta autem ipsum voluptas rem natus,
    officiis inventore hic corporis suscipit quod. Laboriosam alias perspiciatis
    aut repudiandae provident animi tenetur atque tempore accusantium eveniet.
    Laudantium magnam sint ducimus repellendus quas molestiae? Sapiente
    laboriosam, dolorem corrupti temporibus ducimus ea et cum, voluptatum
    accusantium totam facilis sit atque repellat architecto rerum at officia
    quos? Recusandae deserunt doloremque nam molestias dicta cupiditate sint ea
    distinctio magnam sed aliquam id dignissimos omnis, corrupti nesciunt
    asperiores totam beatae voluptatibus consectetur maxime veniam fugiat
    assumenda. Deserunt beatae quos impedit voluptatum. Explicabo, cupiditate
    deserunt deleniti sapiente labore odio quo accusamus consequatur nulla
    officiis aut, voluptate vitae atque, voluptates iure! Suscipit sed,
    laboriosam qui tenetur eius distinctio perferendis! Pariatur atque nemo
    dicta inventore necessitatibus mollitia maxime, voluptas natus ab similique
    exercitationem est illo iste eius ex fugit esse ipsa! Earum modi, sit
    veritatis libero ducimus non tenetur cum soluta possimus tempora rem,
    inventore vel fugiat temporibus nam! Quidem nemo eveniet eos tempora beatae.
    Distinctio possimus iste odio rerum soluta natus, deleniti iusto ipsum!
    Ducimus accusantium veniam saepe, sapiente eaque laboriosam itaque commodi
    fugiat eveniet cumque totam porro deleniti quos odio! Dolorem quis adipisci
    debitis consequuntur atque illum unde fugiat soluta dicta earum, tenetur
    aspernatur natus numquam ratione nulla saepe eveniet a! Perspiciatis quas
    aliquam quia nulla. Illum beatae omnis natus. Fuga veniam nobis possimus
    omnis rem cumque aperiam tempora, vitae vel asperiores quos, facilis
    officiis fugit nulla! Repudiandae ratione animi laudantium odit est,
    consequatur ipsam iusto deleniti eum quasi labore fugit, amet consectetur ea
    magnam debitis alias iste repellat distinctio possimus adipisci voluptatem
    reiciendis doloribus. In quos nisi dicta cumque quas quidem veniam quae odio
    aliquid nemo vero repellendus, totam ex velit libero porro sequi. Dicta
    ipsam commodi, tempore, vitae fugit quaerat incidunt, accusantium quasi
    dolorum aspernatur deserunt earum! Totam, eveniet culpa. Hic, debitis atque
    ea ipsam rem vel voluptates nisi itaque error, vitae, officiis commodi
    placeat quia? Perferendis doloremque beatae rem eveniet suscipit.
    Praesentium earum modi consectetur eos cumque? Quo vero dolorum facere
    laboriosam soluta perspiciatis! Quam architecto vitae aut sapiente accusamus
    veniam. Sequi dolorum sunt autem iure nesciunt veritatis nihil nam harum.
    Laboriosam aspernatur expedita iusto natus quisquam molestias tenetur
    tempora asperiores repellat nam nobis culpa, sunt excepturi accusantium
    voluptatibus, necessitatibus quae esse ea fugiat id illo exercitationem.
    Illum deserunt ipsa aliquam enim laboriosam! Dignissimos ad labore animi
    ullam ab ipsa distinctio eveniet praesentium sapiente beatae rem aliquam
    perferendis minus maiores vel deleniti in dicta nam magnam esse, aperiam
    dolores quis ut nisi! Explicabo, ipsam. Expedita, modi. Quae, modi vel!
    Magnam quos assumenda optio vitae aliquam, sunt libero laboriosam velit.
    Animi suscipit itaque quam molestias nihil, exercitationem incidunt adipisci
    maxime labore corporis voluptates ipsam officiis neque ut impedit? Inventore
    voluptatibus temporibus vero laudantium modi dignissimos fugiat magni et,
    expedita deserunt? Hic eos reiciendis aliquid in necessitatibus adipisci,
    quas doloremque mollitia, tempore expedita magni ullam? Obcaecati fugiat,
    provident explicabo sint deserunt sunt? Quas a itaque voluptatibus fugiat
    blanditiis qui repellat voluptatum maiores facere iusto explicabo,
    similique, quasi odit pariatur cum ipsa expedita voluptatem consequuntur eos
    est harum totam debitis in. Sequi iure non voluptates asperiores alias, vel
    dicta? Sunt possimus tempora veritatis quis?
  </div>
</div>
