.donation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Вирівнює всі елементи по лівому краю горизонтально */
  padding-top: 24px;
  padding-left: 40px;
  padding-bottom: 20px;
  border-radius: 16px;
  width: 335px;
  height: 460px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
}

.donations-title-wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}
.donations-title {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #fff;
}
.donation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 292px;
  width: 100%;
  margin-bottom: 20px;
}
.donation-list-name {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 32px;
}
.donation-name-number {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #fff;
}
.donation-name-logo {
  filter: brightness(0) invert(1);
}
.scroll-btn {
  padding-left: 0;
  border-radius: 50%;
  padding: 8px;
  background-color: #fff;
  border: none;
  width: fit-content;
  align-self: center;
}
