/* ============ */
.button-up {
  width: 54px;
  height: 54px;
  background-color: #4f2ee8;
  outline: 5px solid rgba(80, 46, 232, 0.3);
  border-radius: 50%;
  position: fixed;
  bottom: 150px;
  right: 25px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.button-up:hover {
  filter: brightness(120%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} 

.button-up--show {
  opacity: 1;
}


