/* .dark-theme {
  background-color: #202024;
  border-color: #fff;
  color: #fff;
  stroke: #fff;
}

.dark-theme-header {
  background-color: #111;
  border-color: #fff
}

.dark-theme-text {
  color: rgba(225, 255, 255, 0.5);
}

.dark-theme-img {
  filter: brightness(0) invert(1);
} */