/* .footer-container {
  border: 1.5px solid #111;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 10px 10px 0 rgba(245, 245, 247, 0.1);
  background: radial-gradient(
    189.32% 190.93% at 59.76% -23.42%,
    rgb(79, 46, 232) 18.02733987569809%,
    rgb(255, 255, 255) 100%
  );
} */

.footer-container {
  border: 1.5px solid #111;
  border-radius: 8px 8px 0px 0px;
  background-color: #fff;
  padding: 35px 20px 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo-wrapper {
}

.footer-logo {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 18px 20px;
}

.footer-logo-icon {
  display: block;
  transition: 300ms;
}
.footer-logo-text-icon {
  display: block;
  transition: 300ms;
}
.footer-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-self: center; */
}

.footer-form {
  display: flex;
  gap: 20px;
  align-items: center;
}
/* .footer-form-label {} */

.footer-form-input {
  height: 48px;
  width: 400px;
  padding: 0 20px;
  border-radius: 18px;
  border: 1px solid #111;
  outline: transparent;
  transition: border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.footer-form-input:focus-within {
  border-radius: 12px;
  outline: 2px solid #eac645;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.footer-form-submit-button {
  border: none;
  border-radius: 18px;
  /* background-color: #eac645; */
  background-color: #eac645;
  color: #111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  width: 184px;
  height: 48px;
  transition: border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.footer-form-submit-button:hover,
.footer-form-submit-button:focus {
  border-radius: 12px;
  /* filter: brightness(120%); */
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.footer-social-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-social-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.footer-social-list {
  display: flex;
  gap: 10px;
}
.footer-social-item {
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  width: 48px;
  height: 48px;
  background-color: #4f2ee8;
  transition: border-radius 300ms ease-in-out, 300ms ease-in-out;
}

.footer-social-link:hover {
  border-radius: 12px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.footer-social-icon {
  fill: #fff;
  scale: 0.75;
}
