.header-container {
    border-radius: 0px 0px 8px 8px;
    border: 1.5px solid #111;
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
    top: 0;
    left: 0;
    }
.header-menu{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 32px;
}
.logo-svg {
    display: flex;
    height: 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    }
    .header-list{
        display: flex;
        gap: 24px;
        margin-left: 40px;
        list-style-type: none;
        text-decoration: none;
    }
    .header-item a {
        text-decoration: none;
    }

.header-link{
    border-radius: 36px;
padding: 8px 16px;
width: 72px;
height: 34px;
background: #eac645;
font-family: "DM Sans", sans-serif;
font-weight: 700;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #111;
}
.shopping-link{
width: fit-content;
justify-content: center;
align-items: center;
font-weight: 500;
line-height: 18px;
font-size: 14px;
text-transform: uppercase;
display: flex;
font-family: "DM Sans", sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.28571;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #111;
}
.shoping-test{
    
}
.shoping-icon{
    fill: #111;
}
/* ----------CHECHBOX----------- */
.switcher {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 14px;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch {
    background: url(../img/collection/switcher-rectangle.svg) no-repeat center center;
    width: 40px;
    height: 24px;
    cursor: pointer;
    position: relative;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch::before {
    background: url(../img/collection/switcher-btn.svg) no-repeat center center;
    position: absolute;
    content: '';
    width: 40px;
    height: 24px;
    top: 1px;
    right: 9px;
}

#themeToggle:checked + .switch::before {
    transform: translateX(20px);
}
.switcher input[type="checkbox"] {
    display: none;
}

/* ----------Sign up -----------*/
.signup-btn{
border: 1.50px solid #111;
border-radius: 18px;
min-width: 184px;
height: 48px;
background: #4f2ee8;
font-family: "DM Sans", sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.28571;
letter-spacing: -0.04em;
color: #fff;
text-align: left;
padding: 10px;
display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
transition: background .25s cubic-bezier(.17,.67,.91,1.61),box-shadow .25s cubic-bezier(.17,.67,.91,1.61);

}
.signup-btn:hover{
    border: 2px solid #4f2ee8; /* Бордер при наведенні */
    border-radius: 12px; 
    filter: brightness(120%);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.signup-btn:active{
    filter: brightness(90%);
}
.sign-arrow{
    fill:#eac645;
    
    animation: rotateIcon 3s linear infinite; 
}
@keyframes rotateIcon {
    from {
        transform: rotate(0deg); /* Початковий стан обертання (0 градусів) */
    }
    to {
        transform: rotate(360deg); /* Кінцевий стан обертання (360 градусів) */
    }
}
.header-triangle{
    stroke: #fff;
}
/* ----Dark theme------ */

.dark-theme{
    background-color: #111;
}
.dark-theme .text-logo{
    fill: #fff;
}
.dark-theme p,
.dark-theme h2,
.dark-theme h3{
    color: #fff;
}
/* -------HIDDEN--------- */
.hidden{
    display: none;
}