/*! =======  BREAKPOINT 375  ======= */
.header-container {
    max-width: 375px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1.5px solid #111;
    border-radius: 0px 0px 8px 8px;
    background-color: #fff;
}

.header-logo-link {
    display: flex;
    flex-grow: 1;
    gap: 8px;
    padding: 18px 20px;
    align-items: center;
}

/* ----------CHECHBOX----------- */
.switcher {
    display: flex;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch {
    background: url(../img/collection/switcher-rectangle.svg) no-repeat center center;
    width: 40px;
    height: 24px;
    cursor: pointer;
    position: relative;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch::before {
    background: url(../img/collection/switcher-btn.svg) no-repeat center center;
    position: absolute;
    content: '';
    width: 40px;
    height: 24px;
    top: 1.7px;
    right: 9px;
    transition: transform 250ms ease-in-out;
}

#themeToggle:checked + .switch::before {
    transform: translateX(20px);
}

.switcher input[type="checkbox"] {
    display: none;
}

/* ---------------------------------------- */
.header-menu-open-button {
    display: flex;
    align-items: center;
    margin-left: 14px;
    padding: 0;
    width: 48px;
    height: 64px;
}

.header-menu-close-button {
    display: none;
    align-items: center;
    justify-content: flex-start;
    margin-left: 14px;
    padding: 0;
    width: 48px;
    height: 64px;
}

.header-menu-open-icon,
.header-menu-close-icon {
    stroke: #111;
}

/* =============================================== */
.header-nav {
    flex-grow: 1;
}

.header-nav-link-home {
    display: none;
}

.header-nav-link-shop {
    display: none;
}

.header-btn-wrapper {
    display: none;
}

.header-sigh-up-button {
    display: none;
}

.header-user-profile-button {
    display: none;
}

.header-log-out-button {
    display: none;
}

/*! =======  BREAKPOINT 768  ======= */
@media screen and (min-width: 768px) {
    .header-container {
        max-width: 768px;
        height: 72px;
        padding-left: 12px;
        padding-right: 32px;
    }

    .header-logo-link {
        flex-grow: 0;
        margin-right: 4px;
    }

    .header-menu-open-button {
        display: none;
    }

    .header-checkbox {
        margin-right: 24px;
    }

    .header-nav-list {
        display: flex;
        gap: 8px;
        display: none;
    }

    .header-nav-link-home {
        display: block;
        width: 72px;
        height: 34px;
        padding: 8px 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;
        text-transform: uppercase;
    }

    .header-nav-link-shop {
        display: flex;
        align-items: center;
        gap: 8px;
        width: fit-content;
        height: 34px;
        padding: 8px 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;
        text-transform: uppercase;
    }

    .header-btn-wrapper {
        position: relative;
        display: block;
        margin-left: auto;
    }

    .header-sigh-up-button {
        display: block;
    }

    .make-yellow {
        border-radius: 36px;
        background-color: #eac645;
        font-weight: 700;
    }

    .header-nav-icon-shop {
        stroke: #111;
    }

    .header-sigh-up-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 14px;
        padding-right: 14px;
        width: 184px;
        height: 48px;
        border: 1.5px solid #111;
        border-radius: 18px;
        background-color: #4f2ee8;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;
        color: #fff;
        transition: border 300ms ease-in-out, border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out;
        /* display: none; */
    }

    .header-sigh-up-button:hover {
        border: 2px solid #4f2ee8;
        border-radius: 12px;
        filter: brightness(120%);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .header-sigh-up-button:active {
        filter: brightness(90%);
    }

    .header-sigh-up-icon {
        fill: #eac645;
        animation: rotateIcon 3s linear infinite;
    }

    .header-user-profile-button {
        align-items: center;
        justify-content: center;
        width: fit-content;
        min-height: 45px;
        border-radius: 36px;
        padding: 8px 12px;
        background-color: #4f2ee8;
    }

    .header-user-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        background-color: #f6f6f6;
    }

    .header-user-icon {
        stroke: #fff;
        fill: #fff;
    }

    .header-user-name {
        margin-left: 9px;
        margin-right: 4px;
        font-weight: 700;
        font-size: 1.2em;
        letter-spacing: -0.02em;
        color: #fff;
    }

    @keyframes rotateIcon {
        from {
            transform: rotate(0deg);
            /* Початковий стан обертання (0 градусів) */
        }

        to {
            transform: rotate(360deg);
            /* Кінцевий стан обертання (360 градусів) */
        }
    }

    .header-log-out-button {
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        justify-content: space-between;
        align-items: center;
        width: 184px;
        height: 48px;
        padding: 15px 14px;
        border: 1.5px solid #111;
        border-radius: 18px;
        background-color: #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;
        color: #111;
        z-index: -100;
        /* transition: bottom 2500ms ease-in-out, top 2500ms ease-in-out; */
    }

    .header-user-profile-button {
        display: none;
    }
}

/*! =======  BREAKPOINT 1440  ======= */
@media screen and (min-width: 1440px) {
    .header-container {
        max-width: 1440px;
        padding-left: 4px;
        padding-right: 24px;
    }

    .header-nav-link-home {
        margin-left: 52px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.visually-visible {
    position: static;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0;
    white-space: normal;
    clip-path: none;
    clip: auto;
    overflow: visible;
}

.change-z-index {
    z-index: 1001;
    position: relative;
}

.visible-flex {
    display: flex;
}

.log-out-visible {
    display: flex;
    pointer-events: auto;
    z-index: 0;
    bottom: -48px;
    top: auto;
}