.header-container {
    max-width: 375px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1.5px solid #111;
    border-radius: 0px 0px 8px 8px;
}

.header-nav-item:first-child .header-nav-link {
    display: flex;
    gap: 8px;
    padding: 18px 20px;
    align-items: center;
}

.header-nav-item:nth-child(2),
.header-nav-item:nth-child(3) {
    display: none;
}

.header-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* ----------CHECHBOX----------- */
.switcher {
    display: flex;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch {
    background: url(../img/collection/switcher-rectangle.svg) no-repeat center center;
    width: 40px;
    height: 24px;
    cursor: pointer;
    position: relative;
    transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.switch::before {
    background: url(../img/collection/switcher-btn.svg) no-repeat center center;
    position: absolute;
    content: '';
    width: 40px;
    height: 24px;
    top: 1px;
    right: 9px;
}

#themeToggle:checked + .switch::before {
    transform: translateX(20px);
}

.switcher input[type="checkbox"] {
    display: none;
}

.header-modal-open-button {
    display: flex;
    align-items: center;
    padding: 0;
    width: 48px;
    height: 64px;
}

.header-modal-open-icon {
    stroke: #111;
}

.header-login-button {
    display: none;
}

.header-sigh-up-button {
    display: none;
}

.header-log-out-button {
    display: none;
}

@media screen and (min-width: 768px) {
    .header-container {
        max-width: 768px;
        height: 72px;
        padding-left: 12px;
        padding-right: 32px;
    }

    .header-nav-list {
        display: flex;
        align-items: center;
    }

    .header-nav-item:nth-child(2),
    .header-nav-item:nth-child(3) {
        display: block;
    }

    .header-nav-link-home {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        width: 72px;
        height: 34px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;
        text-transform: uppercase;
    }

    .header-nav-link-shop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: fit-content;
        padding: 7px 16px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;
        text-transform: uppercase;
    }

    .make-yellow {
        border-radius: 36px;
        background-color: #eac645;
        font-weight: 700;
    }

    .header-nav-icon-shop {
        fill: #111;
        stroke: #111;
    }

    .header-modal-open-button {
        display: none;
    }

    /* ----------Sign up -----------*/
    .header-sigh-up-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 14px;
        padding-right: 14px;
        height: 48px;
        width: 184px;
        border: 1.5px solid #111;
        border-radius: 18px;
        background-color: #4f2ee8;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        letter-spacing: -0.04em;
        color: #fff;
        transition: border 300ms ease-in-out, border-radius 300ms ease-in-out, box-shadow 300ms ease-in-out;
        display: none;
    }

    .header-sigh-up-button:hover {
        border: 2px solid #4f2ee8;
        border-radius: 12px;
        filter: brightness(120%);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .header-sigh-up-button:active {
        filter: brightness(90%);
    }

    .header-login-icon {
        fill: #eac645;
        animation: rotateIcon 3s linear infinite;
    }

    @keyframes rotateIcon {
        from {
            transform: rotate(0deg);
            /* Початковий стан обертання (0 градусів) */
        }

        to {
            transform: rotate(360deg);
            /* Кінцевий стан обертання (360 градусів) */
        }
    }

    .header-log-out-button {
        display: none;
    }
}

@media screen and (min-width: 1440px) {
    .header-container {
        max-width: 1440px;
        padding-left: 4px;
        padding-right: 24px;
    }

    .header-nav-link-home {
        margin-left: 56px;
    }
}

.header-triangle {
    stroke: #fff;
}

.btn-log-out {
    display: none;
}

/* ----Dark theme------ */
/* .dark-theme {
    background-color: #111;
}

.dark-theme .text-logo {
    fill: #fff;
}

.dark-theme p,
.dark-theme h2,
.dark-theme h3 {
    color: #fff;
} */
/* -------HIDDEN--------- */
/* .hidden {
    display: none;
} */