.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 100vh;
  background-image: url(../img/png/menu-background.png), radial-gradient(189.32% 190.93% at 59.76% -23.42%,
      rgb(79, 46, 232) 18.02733987569809%,
      rgb(255, 255, 255) 100%);
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  padding-top: 84px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.menu-user-profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 9px;
  width: fit-content;
}

.menu-user-name {
  font-weight: 700;
  font-size: 1.2em;
  letter-spacing: -0.02em;
  color: #fff;
}

.menu-user-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #fff;
}

.menu-nav-list {
  width: fit-content;
  flex-grow: 1;
  padding-top: 126px;
  margin: 0 auto;
}

.menu-nav-item:first-child {
  margin-bottom: 16px;
}

.menu-nav-link-home {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.menu-nav-link-shop {
  display: flex;
  gap: 4px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;
}

.make-yellow {
  border-radius: 36px;
  background-color: #eac645;
  font-weight: 700;
}

.menu-nav-icon-shop {}

.menu-log-out-btn {
  display: flex;
  gap: 4px;
  width: fit-content;
  height: 48px;
  padding: 14px 24px;
  background-color: #fff;
  border: 1.5px solid #111;
  border-radius: 18px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #111;
}

.menu-log-out-icon {}