.lightbox-scroll {
  overflow: scroll;
  align-items: flex-start !important;
}

.scroll-ban {
  overflow: hidden;
}

.modal-container {
  margin: 0 auto;
  position: relative;
  width: 335px;
  padding: 40px 24px;
  background-color: #fff;
  border: 2px solid #111;
  border-radius: 18px;
}

.modal-button-close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.modal-icon-close {
  stroke: #111;
  width: 16px;
  height: 16px;
  transition: stroke 300ms ease-in-out;
}

.modal-button-close:hover .modal-icon-close {
  stroke: #4f2ee8;
}

.modal-book-wrapper {
  margin-bottom: 44px;
}

.modal-img {
  width: 287px;
  border-radius: 8px;
  margin-bottom: 14px;
}

.modal-book-desc-wrapper {}

.modal-book-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.modal-book-author {
  margin-bottom: 18px;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.modal-book-desc {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

.modal-buy-links-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.modal-buy-link {}

.modal-link-amazon-icon {
  mix-blend-mode: luminosity;
  filter: grayscale(100%);
  width: 62px;
  height: 19px;
  transition: filter 300ms ease-in-out;
}

.modal-link-apple-icon {
  mix-blend-mode: luminosity;
  filter: grayscale(100%);
  width: 33px;
  height: 32px;
  transition: filter 300ms ease-in-out;
}

.modal-link-amazon-icon:hover,
.modal-link-apple-icon:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.35));
}

.add-remove-button {
  display: block;
  padding: 14px 23px;
  width: fit-content;
  border: 2px solid #4f2ee8 !important;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  background-color: transparent;
  margin: 0 auto;
  margin-bottom: 8px;
  transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

/* // ======= modal-button-glow-styles ======= // */
.modal-button-glow-styles {
  outline: none;
  color: #000000;
  position: relative;
  z-index: 1;
  transition: 0.5s;
}

.modal-button-glow-styles::before {
  content: '';
  background: linear-gradient(45deg,
      #f5410f,
      #e87d3a,
      #eac645,
      #002bff,
      #4f2ee8,
      #f71e8a);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  border-radius: 40px;
  z-index: -1;
  filter: blur(7px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-button-glow-styles:active:after {
  background: transparent;
}

.modal-button-glow-styles:hover::before {
  opacity: 1;
}

.modal-button-glow-styles:after {
  border-radius: 40px;
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.modal-text {
  display: block;
  width: 242px;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: center;
  color: rgba(17, 17, 17, 0.5);
}

@media screen and (min-width: 768px) {
  .modal-container {
    width: 579px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #fff;
    border: 2px solid #111;
    border-radius: 18px;
  }

  .modal-button-close {
    width: 28px;
    height: 28px;
    top: 24px;
    right: 24px;
  }

  .modal-icon-close {
    width: 18px;
    height: 18px;
  }

  .modal-book-wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }

  .modal-img {
    margin-bottom: 0;
    width: 192px;
  }

  .modal-book-title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 1.17;
  }

  .modal-book-author {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 14px;
    line-height: 1.29;
  }

  .modal-book-desc {
    margin-bottom: 20px;
  }

  .add-remove-button {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.33;
  }

  .modal-text {
    width: 324px;
    font-size: 12px;
    line-height: 1.17;
  }
}

/* =========================== MODAL_DARK_THEME ================================= */
.modal-container-dark-theme {
  background-color: #202024;
  border-color: #fff;
}

.modal-icon-close-dark-theme {
  stroke: #fff;
}

.modal-text-dark-theme {
  color: #fff;
}

.modal-button-glow-styles-dark-theme:after {
  background: #202024;
}

.modal-icon-amazon-dark-theme {
  filter: brightness(0) invert(1);
  transition: filter 300ms ease-in-out scale 300ms ease-in-out;
}

.modal-icon-apple-dark-theme {
  filter: grayscale(100%);
  transition: filter 300ms ease-in-out scale 300ms ease-in-out;
}

.modal-icon-amazon-dark-theme:hover {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35)) invert(60%);
  scale: 1.02;
}

.modal-icon-apple-dark-theme:hover {
  filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
  scale: 1.02;
}

.modal-label-dark-theme {
  color: rgba(255, 255, 255, 0.5);
}