.sidebar-category-list {
  height: 228px;
  overflow-y: scroll;
  scrollbar-color: #e0e0e0 #e0e0e0;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.sidebar-category-list-item {
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.sidebar-category-list-item:first-child {
  padding-top: 0;
}

.sidebar-category-list-item:last-child {
  padding-bottom: 0;
}

.sidebar-category-text {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  transition: text-transform 300ms ease-in-out, color 300ms ease-in-out, font-weight 300ms ease-in-out;
}

.sidebar-category-list-item:hover .sidebar-category-text {
  font-weight: 700;
  color: #4f2ee8;
  text-transform: uppercase;
}

.make-blue {
  font-weight: 700;
  color: #4f2ee8;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .sidebar-category-list {
    height: 472px;
  }

  .sidebar-category-list-item {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .sidebar-category-list-item:first-child {
    padding-top: 0;
  }

  .sidebar-category-list-item:last-child {
    padding-bottom: 0;
  }

  .sidebar-category-text {
    cursor: pointer;
    font-size: 18px;
    line-height: 1.34;
    letter-spacing: -0.02em;
  }
}

@import url('./donation.css');